<a href="https://colab.research.google.com/github/carolineoliveira994/100-days-of-code-python/blob/main/dia01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Types:

In [ ]:
x = 14
print(x)
print(type(x))

In [ ]:
nearly_pi = 3.141592653589793238462643383279502884197169399375105820974944
print(nearly_pi)
print(type(nearly_pi))

In [ ]:
almost_pi = 22/7
print(almost_pi)
print(type(almost_pi))

In [ ]:
z_one = True
print(z_one)
print(type(z_one))

In [ ]:
rounded_pi = round(almost_pi, 5)
print(rounded_pi)
print(type(rounded_pi))

In [ ]:
y = float = 1.
print(y)
print(type(y))

In [ ]:
z_two = True
print(z_two)
print(type(z_two))

In [ ]:
z_tree = (1 < 2)
print(z_tree)
print(type(z_tree))

In [ ]:
z_four = (5 < 3)
print(z_four)
print(type(z_four))

In [ ]:
z_five = not z_four
print(z_five)
print(type(z_five))

In [ ]:
w = "hello word"
print(w)
print(type(w))
print(len(w))

In [ ]:
my_number = "1.111"
print(my_number)
print(type(my_number))

In [ ]:
my_number = "1.111"
print(my_number)
print(type(my_number))
also_my_number = float(my_number)
print(also_my_number)

In [ ]:
new_string = "ca" + "rol"
print(new_string)

In this question, you will build off your work from the previous exercise to write a function that estimates the value of a house.

Use the next code cell to create a function get_expected_cost that takes as input three variables:

beds - number of bedrooms (data type float)
baths - number of bathrooms (data type float)
has_basement - whether or not the house has a basement (data type boolean)
It should return the expected cost of a house with those characteristics. Assume that:

the expected cost for a house with 0 bedrooms and 0 bathrooms, and no basement is 80000,
each bedroom adds 30000 to the expected cost,
each bathroom adds 10000 to the expected cost, and
a basement adds 40000 to the expected cost.
For instance,

a house with 1 bedroom, 1 bathroom, and no basement has an expected cost of 80000 + 30000 + 10000 = 120000. This value will be calculated with get_expected_cost(1, 1, False).
a house with 2 bedrooms, 1 bathroom, and a basement has an expected cost of 80000 + 2*30000 + 10000 + 40000 = 190000. This value will be calculated with get_expected_cost(2, 1, True).
Remember you can always get a hint by uncommenting q3.hint() in the code cell following the next!

In [ ]:
def get_expected_cost(beds, baths, has_basement):
  value = 80000 + 30000 * beds + 10000 * baths + 40000 * has_basement
  return(value)

You own an online shop where you sell rings with custom engravings. You offer both gold plated and solid gold rings.

Gold plated rings have a base cost of $50, and you charge $7 per engraved unit.
Solid gold rings have a base cost of $100, and you charge $10 per engraved unit.
Spaces and punctuation are counted as engraved units.
Write a function cost_of_project() that takes two arguments:

engraving - a Python string with the text of the engraving
solid_gold - a Boolean that indicates whether the ring is solid gold
It should return the cost of the project.

In [ ]:
def cost_of_project(engraving, solid_gold):
  cost = solid_gold(100 + 10 (len(engraving))) + (not solid_gold) * (50 + 7 (len(engraving)))
  return(cost)

In [ ]:
project_one = cost_of_project("Charlie+Denver", True)
print(project_one)

In [ ]:
project_one = cost_of_project("caroline+oliveira", True)
print(project_one)

In [ ]:
var_one = 1
var_two = 2


print(var_one < 1)
print(var_two >= var_one)

Conditional statements
Conditional statements use conditions to modify how your function runs. They check the value of a condition, and if the condition evaluates to True, then a certain block of code is executed. (Otherwise, if the condition is False, then the code is not run.)

You will see several examples of this in the following sections.

"if" statements
The simplest type of conditional statement is an "if" statement. You can see an example of this in the evaluate_temp() function below. The function accepts a body temperature (in Celcius) as input.

Initially, message is set to "Normal temperature".
Then, if temp > 38 is True (e.g., the body temperature is greater than 38Â°C), the message is updated to "Fever!". Otherwise, if temp > 38 is False, then the message is not updated.
Finally, message is returned by the function.

In [ ]:
def evaluate_temp(temp):
  message = "normal temp"
  if temp > 38:
    message = "feber"
  return message

In [ ]:
print(evaluate_temp(38))

In [ ]:
def evaluate_temp_with_else(temp):
  if temp > 38:
    message = "feber"
  else:
    message = "normal temp"
  return message

In [ ]:
print(evaluate_temp_with_else(40))