<a href="https://colab.research.google.com/github/carolineoliveira994/100-days-of-code-python/blob/main/dia02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Conditions and Conditional Statements

In [ ]:
def get_grade(score):
    if score >= 90:
        grade = "A"
    elif score >= 80:
        grade = "B"
    elif score >= 70:
        grade = "C"
    elif score >= 60:
        grade = "D"
    else:
        grade = "F"
    return grade

In [ ]:
def cost_of_project(engraving, solid_gold):
    num_units = len(engraving)
    if solid_gold == True:
        cost = 100 + 10 * num_units
    else:
        cost = 50 + 7 * num_units
    return cost

In [ ]:
def get_water_bill(num_gallons):
    if num_gallons <= 8000:
        bill = 5 * num_gallons / 1000
    elif num_gallons <= 22000:
        bill = 6 * num_gallons / 1000
    elif num_gallons <= 30000:
        bill = 7 * num_gallons / 1000
    else:
        bill = 10 * num_gallons / 1000
    return bill

In [ ]:
get_water_bill(1)

# Question 4

You work for a company that provides data services.  For \\$100/month, your company provides 15 gigabytes (GB) of data.  Then, any additional data is billed at \\$0.10/MB (or \\$100/GB, since 1,000 MB are in 1 GB).

Use the next code cell to write a function `get_phone_bill()` that takes as input:
- `gb` = number of GB that the customer used in a month

It should return the customer's total phone bill.

For instance:
- A customer who uses 10 GB of data in one month is billed only \\$100, since the usage stayed under 15 GB.  In other words, `get_phone_bill(10)` should return `100`.
- A customer who uses 15.1 GB (or 15 GB + 100 MB) of data in one month has gone over by .1 GB, so they must pay \\$100 (cost of plan), plus \\$0.10 * 100 = \\$10, for a total bill of \\$110.  In other words, `get_phone_bill(15.1)` should return `110`.

Do not round your answer.

In [ ]:
def get_phone_bill(gb):
    if gb <= 15:
        bill = 100
    else:
        bill = 100 + (gb - 15) * 100
    return bill

In [ ]:
get_phone_bill(18)

Lists

In [ ]:
flowers_list = ["pink primrose", "hard-leaved pocket orchid", "canterbury bells", "sweet pea", "english marigold", "tiger lily", "moon orchid", "bird of paradise", "monkshood", "globe thistle"]

print (type(flowers_list))
print(flowers_list)

In [ ]:
print(len(flowers_list))

In [ ]:
print("First entry:", flowers_list[0])
print("Second entry:", flowers_list[1])

print("last entry:", flowers_list[9])

In [ ]:
print("first three entries:", flowers_list[:3])
print("Last two entries:", flowers_list[-2:])

In [ ]:
flowers_list.remove("globe thistle")

In [ ]:
flowers_list.append("snapdragon")
print(flowers_list)

In [ ]:
hardcover_sales = [139, 128, 172, 139, 191, 168, 170]

In [ ]:
print("Length of the list:", len(hardcover_sales))
print("Entry at index 2:", hardcover_sales[2])

In [ ]:
print("Minimum:", min(hardcover_sales))
print("Maximum:", max(hardcover_sales))

In [ ]:
print("average books sold in first five days:", sum(hardcover_sales[:5])/5)

In [ ]:
num_customers = [137, 147, 135, 128, 170, 174, 165, 146, 126, 159,
                 141, 148, 132, 147, 168, 153, 170, 161, 148, 152,
                 141, 151, 131, 149, 164, 163, 143, 143, 166, 171]

# TODO: Fill in values for the variables below
avg_first_seven = sum(num_customers[:7])/7
avg_last_seven = sum(num_customers[-7:])/7
max_month = max(num_customers)
min_month = min(num_customers)